@model IEnumerable<OganiShop.Web.Models.ProductCategoryViewModel>
<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
        </div>
        <ul>
            @foreach (var category in Model.Where(x => x.ParentID == null))
            {
                var url = "/" + category.Alias + ".pc-" + category.ID + ".html";
                var childCategories = Model.Where(x => x.ParentID == category.ID);
                <li>
                    <a href="@url">@category.Name @(childCategories.Count() > 0 ? "<img class=\"arrow-img\" src=\"/Assets/client/images/arrow1.png\" alt=\"\" />" : "") </a>
                    @if (childCategories.Count() > 0)
                    {
                        <ul class="cute">
                            @foreach (var childCategory in childCategories)
                            {
                                var childUrl = "/" + childCategory.Alias + ".pc-" + childCategory.ID + ".html";
                                <li class="subitem3"><a href="@childUrl">@childCategory.Name</a></li>
                            }

                        </ul>
                    }

                </li>


            }

        </ul>
    </div>
</div>