@model OganiShop.Web.Infrastructure.Core.PaginationSet<OganiShop.Web.Models.ProductViewModel>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/LayoutProduct.cshtml";
    var category = (OganiShop.Web.Models.ProductCategoryViewModel)ViewBag.Category;
}

<div class="col-lg-9 col-md-7">
    @if (Model.Count > 0)
    {
        <div class="filter__item">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="filter__sort">
                        <span>Sort By</span>
                        <select>
                            <option value="0">Default</option>
                            <option value="1">asd</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="filter__found">
                        <h6><span><a href="/@(category.Alias).pc-@(category.ID).html"><h4>@category.Name - <span>@Model.TotalCount sản phẩm</span> </h4></a></span></h6>
                    </div>
                </div>
                <div class="col-lg-4 col-md-3">
                    <div class="filter__option">
                        <span class="icon_grid-2x2"></span>
                        <span class="icon_ul"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            @foreach (var product in Model.Items)
            {
                var url = "/" + product.Alias + ".p-" + product.ID;
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="@product.Image">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="@url">@product.Name</a></h6>
                            <h5>@(product.Price == 0 ? "Liên hệ" : product.Price.ToString("N2"))</h5>
                        </div>
                    </div>
                </div>
            }


        </div>

    }
    else
    {
        <div class="text-center">Không có bản ghi nào được tìm thấy.</div>
    }
    <div class="clearfix"> </div>
    <div class="product__pagination">
        @if (Model.TotalPages > 1)
        {
            // Create numeric links
            var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
            var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

            
                <ul class="pagination">
                    @if (Model.Page > 1)
                    {
                        
                            <a href="?page=1" aria-label="First">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                        
                            <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                <i class="fa fa-long-arrow-left"></i>
                            </a>
                        
                    }

                    @for (int i = startPageIndex; i <= endPageIndex; i++)
                    {
                        if (Model.Page == i)
                        {
                            <a href="?page=@i" title="Trang @i">@i</a>
                        }
                        else
                        {
                            <a href="?page=@i" title="Trang @i">@i</a>
                        }
                    }
                    @if (Model.Page < Model.TotalPages)
                    {
                        
                            <a href="?page=@(Model.Page+1)" aria-label="Next">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                        
                        
                            <a href="?page=@Model.TotalPages" aria-label="Last">
                                <i class="fa fa-long-arrow-right"></i>
                            </a>
                       
                    }
                </ul>
           
        }
    </div>
    </div>
